<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>



    <div style="background-color:#49c5b6;">&nbsp;</div>
    <div style="background-color:#202121;">&nbsp;</div>
    <div style="background-color:#E6EAEA;">&nbsp;</div>
    <div style="background-color:#ADADAD;">&nbsp;</div>
    <div style="background-color:#BDC1C0;">&nbsp;</div>
    <div style="background-color:#49c5b6;">&nbsp;</div>
    <div style="background-color:#ffc439;">&nbsp;</div>
    <div style="background-color:#D14836;">&nbsp;</div>
    <div style="background-color:#368c81;">&nbsp;</div>
    <div style="background-color:#b2fff9;">&nbsp;</div>
    <div style="background-color:rgba(209,72,54,0.2)">&nbsp;</div>

<hr>    
    <div style="background-color:#0e0b16;">&nbsp;</div>
    <div style="background-color:#a239ca;">&nbsp;</div>
    <div style="background-color:#471f76;">&nbsp;</div>
    <div style="background-color:#e7dfdd;">&nbsp;</div>
    <hr>
    <div style="background-color:#4484cc;">&nbsp;</div>
    <div style="background-color:#d9d9d9;">&nbsp;</div>
    <div style="background-color:#f9cf00;">&nbsp;</div>
    <div style="background-color:#f19f4d;">&nbsp;</div>
    <hr>
    <div style="background-color:#6e3667;">&nbsp;</div>
    <div style="background-color:#88d317;">&nbsp;</div>
    <div style="background-color:#1a0315;">&nbsp;</div>
    <div style="background-color:#535353;">&nbsp;</div>
    <hr>
    <div style="background-color:#fedc3d;">&nbsp;</div>
    <div style="background-color:#000000;">&nbsp;</div>
    <div style="background-color:#01abaa;">&nbsp;</div>
    <div style="background-color:#fea680;">&nbsp;</div>

    
    
    

   
    
    
    
</body>
</html>