<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewpert" content="width=device-width, initial-scale=1">
            <title>Login</title>
            <link rel="stylesheet"
                  type="text/css" 
                  href="../styles/main.css" >
        </head>
        <body>
        <!-- Main Container-->
            <!-- Main Navigation-->
            <header>
                    <nav>
                        <div class="menu_container">
                       
                            <div class="menu_logo">
                                <img src="../images/universal-orlando-resort-color-logo-b.webp" width=70 height=50>
                            </div>
                            <div class="menu_item">
                                <ul>
                                    <li>
                                        <a href="#">Home</a>
                                         <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                         <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                         <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>

                        </div>
                        
                    </nav>
             </header>
             <div class="main_wrapper">
              <hr/>
             <!--  Main Content  -->
                <h1>Login</h1>
                <div class="main_content_text"> 
                    
                </div>
                   <!--Form-->
                   <div id="form">
                    <form action="">
                        <table width="100%">
                            <tr>
                                <td>
                                    <label for="name">User Name</label>
                                </td>
                                <td>
                                    <input id="username" type="text" name="username" placeholder="User Name"  pattern="[A-Za-z]{2,20}" required autofocus/>
                                </td>
                            </tr>
                             
                            
                            <tr>
                                <td>
                                    <label for="password">Password</label>
                                </td>
                                <td>
                                    <input id="password" type="password" name="password" placeholder="password" required  autofocus pattern="" />
                                </td>
                            </tr>
                   
                            <tr>
                                <td>
                                   &nbsp;
                                </td>
                                <td>
                                    <button>Submit</button>
                                </td>
                                
                            </tr>
                        </table>
                     </form> 

                    </div>
                </div>
                
             <!--footer--> 
            <footer style="clear:both;">
                <p>
                    Universal Trip, &copy; 2019 Last Updated: 02/17/2019<br>
                    <a href="#top">Top</a>
                </p>
            </footer>

        </body>
        
    </html>