<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>User Prompt</title>
    </head>
    <body>
        <script>

            var userInput = prompt("This is a prompt");
            alert("this is an alert");
            var answer = confirm("Do you want to continue"); //ok or cancel returns a boolean
            if (answer){
            console.log("now continue here.. Do what you have to do here");
            }else{
                console.log("say bye");
            }
                console.log(userInput);
        </script>
    </body>
</html>