<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="stylesheet" 
              type="text/css" 
              href="./style/main.css">
    </head>
    <body>
        <div class="menu_container">
            <div class="menu_item more">
                <p>Logo</p>
            </div>
            <div class="menu_item">
                <nav>
                    <ul>
                        <li>
                        	<div class="dropdown-content">
	                            <a href="#">Home</a>
	                           	<a href="#">Link 1</a>
	    						<a href="#">Link 2</a>
	    						<a href="#">Link 3</a>
  							</div>
                        </li>
                        <li>
                            <a href="#">About</a> 
                                <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                </div>

                        </li>
                        <li>
                            <a href="#">Login</a>
                                 <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                        </li>
                         <li>
                            <a href="#">Registration</a>
                             <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                        </li>
                         <li>
                            <a href="#">Pictures</a>
                             <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                        </li>
                         <li>
                            <a href="#">Videos</a>
                             <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                             <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="title_container">
            <h1>Contact</h1>
            <h3>Secondary Text</h3>
        </div>
        <div class="main_content">
         <video poster="./images/temp.png"
	width="300" height="200"
	loop muted autoplay controls>
	<source src="./media/SampleVideo_1280x720_20mb.mp4" type"video/mp4;	codecs='avc1, mp4'">
	<img src="./images/temp.png">
	</video>
        </div>
        <footer>Created by Theresa Gaines</footer>
    </body>
</html>