<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewpert" content="width=device-width, initial-scale=1">

            <title>Contact Us</title>
            <link rel="stylesheet"
                  type="text/css" 
                  href="../styles/main.css" >
        </head>
        <body>
        <!-- Main Container-->
            <!-- Main Navigation-->
            <header>
                    <nav>
                        <div class="menu_container">
                       
                             <div class="menu_logo">
                                <img src="../images/logo_600x400_150_reg_1457759463__00814.jpg" width=70 height=50>
                            </div>
                            <div class="menu_item">
                                <ul>
                                    <li>
                                        <a href="../index.html">Home</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content" >
                                                <a href="#" style="color:black;">Sales</a>
                                                <a href="#" style="color:black;">Gifts</a>
                                            </div>
                                            
                                    </li>
                                    <li>
                                        <a href="products.html">Products</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content">
                                                <a href="#" style="color:black;">Soaps</a>
                                                <a href="#" style="color:black;">Butters</a>
                                                <a href="#" style="color:black;">Candles</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content">
                                                <a href="#" style="color:black;">Mission</a>
                                                <a href="#" style="color:black;">My Story</a>
                                                <a href="#" style="color:black;">Testimonials</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                         <div class="dropdown-content">
                                            <a href="#" style="color:black;">Email</a>
                                            <a href="#" style="color:black;">Call</a>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                         </div>
                </nav>
                <!--End Main Navigation-->
             </header>
             
            <div class="main_wrapper">
               <hr/> 
               
               <!--  Main Content  -->  

                <!--Header-->
                <h1>
                    i.e. Spa Indulgences<br>
               </h1>
               <!--Sub Header-->
               <span id="subHeader">Contact Us</span><br>
               <span id="subLinks"><a href="#email">Email</a> &nbsp; | <a href="#call">Call</a></span>

               
               

                <div class="main_content_text"> <br/>
                </div>

                <!--main container-->
                    <div class="main_container" style="width:80%">
                        <strong><span id="email">Email</span></strong>

                        <!--Form-->
                    <div id="email">    
                        <div id="form">
                            <form action="">
                                <span style="color:white; font:18px;"><strong>Please fill out the form:</strong></span>
                                <table width="100%">
                                    
                                    
                                    <tr>
                                        <td>
                                            <label for="name">Name</label>
                                        </td>
                                        <td>
                                            <input id="name" type="text" name="name" placeholder="Name"  pattern="[A-Za-z]{2,20}" required autofocus/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="email">Email</label>
                                        </td>
                                        <td>
                                            <input id="email" type="email" name="email" placeholder="Email" required  autofocus pattern="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="comment">Comment</label>
                                        </td>
                                        <td>
                                            <textarea id="comment"  name="comment" cols="50" rows="10" >Enter Text Here</textarea>

                                            </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                        &nbsp;
                                        </td>
                                        <td>
                                            <button>Submit</button>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </form> 

                            </div>
                        </div>
                        <!--Call section-->
                        <div class="main_container" style="width:80%">
                            <strong><span id="call">Call Us</span></strong>
                        </div>                           
                        <div class="main_content_text" style="width:80%; color:black;">
                                You can reach us at:<br>
                                212-222-4454<br>
                                212-233-4454<br>
                        </div>
                        
                        
                
                </div> 

             <!--footer--> 
            <footer style="clear:both;">
                <p>
                    &copy; 2019&nbsp; i.e. Spa Indulgences &nbsp;  Last Updated: 02/20/2019<br>
                    <a href="#top">Top</a>
                </p>
            </footer>

       
        </body>
 </html>