<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewpert" content="width=device-width, initial-scale=1">

            <title>Scented Serenity Candle</title>
            <link rel="stylesheet"
                  type="text/css" 
                  href="../styles/main.css" >
        </head>
        <body>
        <!-- Main Container-->
            <!-- Main Navigation-->
            <header>
                    <nav>
                        <div class="menu_container">
                       
                             <div class="menu_logo">
                                <img src="../images/logo_600x400_150_reg_1457759463__00814.jpg" width=70 height=50>
                            </div>
                            <div class="menu_item">
                                <ul>
                                    <li>
                                        <a href="../index.html">Home</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content" >
                                                <a href="#" style="color:black;">Sales</a>
                                                <a href="#" style="color:black;">Gifts</a>
                                            </div>
                                            
                                    </li>
                                    <li>
                                        <a href="#">Products</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content">
                                                <a href="#" style="color:black;">Soaps</a>
                                                <a href="#" style="color:black;">Butters</a>
                                                <a href="#" style="color:black;">Candles</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content">
                                                <a href="#" style="color:black;">Mission</a>
                                                <a href="#" style="color:black;">My Story</a>
                                                <a href="#" style="color:black;">Testimonials</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                         <div class="dropdown-content">
                                            <a href="#" style="color:black;">Email</a>
                                            <a href="#" style="color:black;">Call</a>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                         </div>
                </nav>
                <!--End Main Navigation-->
             </header>
             
            <div class="main_wrapper">
               <hr/> 
               
               <!--  Main Content  -->  

                <!--Header-->
                <h1>
                    i.e. Spa Indulgences<br>
               </h1>
               <!--Sub Header-->

                <!--main container-->
               <span id="subHeader">Scented Serenity Candle</span><br>
               
                <div class="main_content_text"> <br/>
                    <table width="700" cellpadding="10px;">

                        <tr>
                            <td>
                                <img src="../images/ScentedCandle16oz__41658.1442351506.100.100.jpg" width="300" height="300">
                            </td>
                             <td style="color:black;">
                                    Product Information<br>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </td>   
                        
                        </tr>
                         <tr>
                            <td>&nbsp;</td>
                             <td style="color:black;">
                                <form action="">
                                    
                                    <label for="size" >Sizes</label>&nbsp;
			                        <select name="sizes" id="sizes" >
				
                                        <option value="small">Small</option>
                                        <option value="medium">Medium</option>
                                        <option value="large">Large</option>
                                    </select> 
                                <p>
                                    <label for="scents" >Scents</label>&nbsp;
			                        <select name="scents" id="scents" >
				
                                        <option value="lemongrass">Lemon Grass</option>
                                        <option value="strawberry">Strawberry</option>
                                        <option value="melon">Melon</option>
                                    </select> 

                                </p>
                                <p>
                                    <button>Add To Cart</button>

                                </p>

                                </form>
                            </td>   
                        </tr>
                    </table>    
                </div>
              
                

             <!--footer--> 
            <footer style="clear:both;">
                <p>
                    &copy; 2019&nbsp; i.e. Spa Indulgences &nbsp;  Last Updated: 02/20/2019<br>
                    <a href="#top">Top</a>
                </p>
            </footer>

       
        </body>
 </html>