<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewpert" content="width=device-width, initial-scale=1">

            <title>Products</title>
            <link rel="stylesheet"
                  type="text/css" 
                  href="../styles/main.css" >
                  <link rel="stylesheet"
                  type="text/css" 
                  href="../scss/scssmain.css" >
        </head>
        <body>
        <!-- Main Container-->
            <!-- Main Navigation-->
            <header>
                    <nav>
                        <div class="menu_container">
                       
                             <div class="menu_logo">
                                <img src="../images/logo_600x400_150_reg_1457759463__00814.jpg" width=70 height=50>
                            </div>
                            <div class="menu_item">
                                <ul>
                                    <li>
                                        <a href="../index.html">Home</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content" >
                                                <a href="#" style="color:black;">Sales</a>
                                                <a href="#" style="color:black;">Gifts</a>
                                            </div>
                                            
                                    </li>
                                    <li>
                                        <a href="#">Products</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content">
                                                <a href="#" style="color:black;">Soaps</a>
                                                <a href="#" style="color:black;">Butters</a>
                                                <a href="#" style="color:black;">Candles</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                        <!--drop down items-->
                                            <div class="dropdown-content">
                                                <a href="#" style="color:black;">Mission</a>
                                                <a href="#" style="color:black;">My Story</a>
                                                  <a href="#" style="color:black;">Testimonials</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                         <div class="dropdown-content">
                                            <a href="#" style="color:black;">Email</a>
                                            <a href="#" style="color:black;">Call</a>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                         </div>
                </nav>
                <!--End Main Navigation-->
             </header>
             
            <div class="main_wrapper">
               <hr/> 
               
               <!--  Main Content  -->  

                <!--Header-->
                <h1>
                    i.e. Spa Indulgences<br>
               </h1>
               <!--Sub Header-->
               <!-- main container-->
               <span id="subHeader">Products</span><br>
               
               
               

                <div class="main_content_text"> <br/>
                    <h3 class="comingsoon">Coming Soon!!!</h3>
                </div>
                <p style="height:200px;">&nbsp;</p>

                    
                

             <!--footer--> 
            <footer style="clear:both;">
                <p>
                    &copy; 2019&nbsp; i.e. Spa Indulgences &nbsp;  Last Updated: 02/20/2019<br>
                    <a href="#top">Top</a>
                </p>
            </footer>

       
        </body>
 </html>