<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Angular JS Directives, cont.</title>
<script src="js/angular.min.js"></script>
<style>
    div {
       border: 1px solid green;
       width: 100%;
       height:50px;
       display:block;
       margin-bottom: 10px;
       text-align:center;
       background-color:yellow;
        
    }</style>
</head>
<body ng-app="" ng-init="students=['Max','Anna','Maria']">
    <ol>
        <li ng-repeat="sName in students">
            {{sName}}
        </li>
    </ol>   
    <div ng-repeat="sName in students" >
    {{sName}}
          
    </div>
    
    
</body>
</html>