<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>First Angular JS</title>
    <script src="js/angular.min.js"></script>
</head>
    <body ng-app>
        <h1>First AngularJS Application</h1>
        Enter Numbers to Divide:
        <input type="text" ng-model="number1"> / <input type="text" ng-model="number2">
        = <span>{{number1 / number2}}</span>
        <p>
            Enter Numbers to Multiply:
        <input type="text" ng-model="number1"> x <input type="text" ng-model="number2">
        = <span>{{number1 * number2}}</span>
        <p>
            Enter Numbers to Add:
        <input type="number" ng-model="number1"> + <input type="number" ng-model="number2">
        = <span>{{number1 + number2}}</span>

        <p>
            Enter Numbers to Subtract:
        <input type="number" ng-model="number1"> - <input type="number" ng-model="number2">
        = <span>{{number1 - number2}}</span>
            
        
    </body>
</html>