


<!DOCTYPE html>

<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>AngularJS Controller</title>
        <script src="js/angular.min.js"></script>
    </head>

    <body ng-app="myApp">
        <div  ng-controller="myController">
            
            Enter Password: <input type="password" ng-model="password"><br>
            
            
            <button ng-click="DisplayMessage(password)">Show Password</button>
            
        </div>

       
    
    <script>
        var myApp = angular.module('myApp', []);

          myApp.controller("myController", function($scope, $window) {
              $scope.password = "I love Angular Js"
              $scope.DisplayMessage= function (value) {
                  $window.alert(value)
              }
              
                 

          });

          

    </script>


</body>
</html>
