<!DOCTYPE html>

<html>
<head>
    <meta charset="ISO-8859-1">
    <title>AngularJS Controller</title>
    <script src="js/angular.min.js"></script>
</head>
    <body ng-app="myNgApp">

    <div ng-controller="myController">
        Enter Message : <input type="text" ng-model="message"> <br>
        <button ng-click="showMsg(message)">Show Message</button>
    
    </div>
    <script>
        var ngApp = angular.module('myNgApp', []);
            ngApp.controller('myController', function($scope) {
            $scope.message = "Hello developers!";
            $scope.showMsg = function(msg){
                alert(msg);
            }
       
            
        });
    </script>


</body>
</html>





