<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewpert" content="width=device-width, initial-scale=1">

            <title>Contact</title>
             <link rel="stylesheet"
                  type="text/css" 
                  href="../scss/scssmain.css" >

            <link rel="stylesheet"
                  type="text/css" 
                  href="../styles/main.css" >
                   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                   <script type="text/javascript" src="../script/script.js"></script>
                   <script type="text/javascript" src="../script/formjs.js"></script>
              <style> 
                body{
                  background-image: url("../images/background.jpg");
                  }
             </style>     
        </head>
        <body>
        <!-- Main Container-->
            <!-- Main Navigation-->
            <header>
                    <nav>
                        <div class="menu_container">
                       
                             <div class="menu_logo">
                                <img src="../images/\zumba-logo-horizontal.gif" width=120 height=50>
                            </div>
                                                  <div class="menu_item">
                                <ul>
                                    <li>
                                        <a href="../index.html">Home</a>
                                        <!--drop down items-->
                                          <div id="menuHome" class="dropdown-content" > <!-- 
                                                <a href="#" style="color:black;">Sales</a>
                                                <a href="#" style="color:black;">Gifts</a>
                                           --></div>
                                            
                                    </li>
                                    <li>
                                        <a href="media.html">Media</a>
                                        <!--drop down items-->
                                            <div id="menuProducts" class="dropdown-content">
                                                <!--
                                                <a href="#" style="color:black;">Videos</a>
                                                <a href="#" style="color:black;">Music</a>
                                                <a href="#" style="color:black;">Live Class</a>   
                                            --> 
                                     </li>
                                    <li>
                                        <a href="#">Schedule</a>
                                        <!--drop down items-->
                                            <div id="menuSchedule" class="dropdown-content">
                                                <!--
                                                <a href="#" style="color:black;">Classes</a>
                                                <a href="#" style="color:black;">Events</a>
                                                 -->                              
                                            </div>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                        <!--drop down items-->
                                            <div id="menuAbout" class="dropdown-content">
                                               
                                               <!-- 
                                                <a href="#" style="color:black;">Mission</a>
                                                <a href="#" style="color:black;">My Story</a>
                                                <a href="#" style="color:black;">Testimonials</a>
                                               -->
                                                
                                            </div>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                        
                                         <div id="menuContact" class="dropdown-content">
                                             <!--
                                            <a href="#" style="color:black;">Email</a>
                                            -->
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                         </div>
                </nav>
                <!--End Main Navigation-->
             </header>
             
            <aside class="main_wrapper">
               <hr/> 
               
               <!--  Main Content  -->  

                <!--Header-->
                <h1>
                    Zumba With Theresa<br>
               </h1>
               <div class="login">
                   
                    <table width="400" >
                        <tr>
                            <td class="login" >
                                <form class="form" method="post" action="#" id="form">
                                    <label for="userName">User Name</label>&nbsp;<input type="text" id="username" maxlength="8" placeholder="Username"  pattern="^[a-zA-Z0-9_.-]*$[a-zA-Z0-Z_.-]*$" required />            
                                    <label for="password">Password</label>&nbsp; <input type="password" id="password" maxlength="8"  placeholder="Password" pattern="^[a-zA-Z0-9_.-]*$[a-zA-Z0-Z_.-]*$" required />
                                     <button id="loginButton">Submit</button>
                                </form>     
                           </td>
                        </tr>
                    </table>
                </div>
                <div id="feedback">
        </div>
               <!--Sub Header-->
               <span id="subHeader">Contact Us</span>
                  <!-- Intro Text-->
                <br><br>
               <div id="introText">If you would like more information on Zumba with Theresa, please fill out the form.
                
                </div>
               
                
                <!-- End Intro Text-->

               

                <div class="main_content_text"> <br/>
                </div>
                
                 
                 
                <div class="main_container">
               
    

                <!--main container-->
                    <div class="main_container" style="width:80%">
                       
                        

                        <!--Form-->
                    <div id="contactForm" >    
                        <div id="form" class="form" method="post" action="#" id="form">
                            <form action="" >
                                <span style="color:white; font:18px;"><strong>Please fill out the form:</strong></span>
                                <table width="100%">
                                    
                                    
                                    <tr>
                                        <td>
                                            <label for="name">Name</label>
                                        </td>
                                        <td>
                                            <input id="name" type="text" name="name" placeholder="Name"  pattern="^[a-zA-Z0-9_.-]*$[a-zA-Z0-Z_.-]*$" required autofocus/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="email">Email</label>
                                        </td>
                                        <td>
                                            <input id="email" type="email" name="email" placeholder="Email" required  autofocus pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="comment">Comment</label>
                                        </td>
                                        <td>
                                            <textarea id="comment"  name="comment" cols="50" rows="10" >Enter Text Here</textarea>

                                            </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                        &nbsp;
                                        </td>
                                        <td>
                                            <button>Submit</button>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </form> 

                            </div>
                        </div>
                        
                        
                        
                        
                
                </div> 

                    
                    <!--footer--> 
             
                    <footer style="clear:both;background-color: none;">
                        <p class="homeFooter">
                            <ul>
                                <li class="homeFooter"><a href="#top">To the Top</a>&nbsp;</li>
                                <li class="homeFooter">&copy; 2019&nbsp;</li>
                                <li class="homeFooter">Zumba With Theresa &nbsp; </li>
                                <li class="homeFooter">Last Updated: 02/20/2019</li>
                            <br>
                            
                            </ul>
                            <ul class="homeFooter">
                            <li class="homeFooter"><a href="#">Support |</a></li>
                            <li class="homeFooter"><a href="#">Terms |</a></li>
                            <li class="homeFooter"><a href="#">Privacy |</a></li>
                            <li class="homeFooter"><a href="#">About |</a></li>
                            <li class="homeFooter"><a href="#">Contact</a></li>

                        </ul>
        
                        </p>
                    </footer>
                
                </div>
   
            </div>

            
        </body>
        
    </html>