<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewpert" content="width=device-width, initial-scale=1">

            <title>Media</title>
            <link rel="stylesheet"
                  type="text/css" 
                  href="../styles/main.css" >
                   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                   <script type="text/javascript" src="../script/script.js"></script>
                   <script type="text/javascript" src="../script/formjs.js"></script>
              <style> 
                body{
                  background-image: url("../images/background.jpg");
                  }
             </style>     
        </head>
        <body>
        <!-- Main Container-->
            <!-- Main Navigation-->
            <header>
                    <nav>
                        <div class="menu_container">
                       
                             <div class="menu_logo">
                                <img src="../images/\zumba-logo-horizontal.gif" width=120 height=50>
                            </div>
                                                  <div class="menu_item">
                                <ul>
                                    <li>
                                        <a href="../index.html">Home</a>
                                        <!--drop down items-->
                                          <div id="menuHome" class="dropdown-content" > <!-- 
                                                <a href="#" style="color:black;">Sales</a>
                                                <a href="#" style="color:black;">Gifts</a>
                                           --></div>
                                            
                                    </li>
                                    <li>
                                        <a href="$">Media</a>
                                        <!--drop down items-->
                                            <div id="menuProducts" class="dropdown-content">
                                                <!--
                                                <a href="#" style="color:black;">Videos</a>
                                                <a href="#" style="color:black;">Music</a>
                                                <a href="#" style="color:black;">Live Class</a>   
                                            --> 
                                     </li>
                                    <li>
                                        <a href="#">Schedule</a>
                                        <!--drop down items-->
                                            <div id="menuSchedule" class="dropdown-content">
                                                <!--
                                                <a href="#" style="color:black;">Classes</a>
                                                <a href="#" style="color:black;">Events</a>
                                                 -->                              
                                            </div>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                        <!--drop down items-->
                                            <div id="menuAbout" class="dropdown-content">
                                               
                                               <!-- 
                                                <a href="#" style="color:black;">Mission</a>
                                                <a href="#" style="color:black;">My Story</a>
                                                <a href="#" style="color:black;">Testimonials</a>
                                               -->
                                                
                                            </div>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                        
                                         <div id="menuContact" class="dropdown-content">
                                             <!--
                                            <a href="#" style="color:black;">Email</a>
                                            -->
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                         </div>
                </nav>
                <!--End Main Navigation-->
             </header>
             
            <aside class="main_wrapper">
               <hr/> 
               
               <!--  Main Content  -->  

                <!--Header-->
                <h1>
                    Zumba With Theresa<br>
               </h1>
               <div class="login">
                   
                    <table width="400" >
                        <tr>
                            <td class="login" >
                                <form class="form" method="post" action="#" id="form">
                                    <label for="userName">User Name</label>&nbsp;<input type="text" id="username" maxlength="8" placeholder="Username"  pattern="^[a-zA-Z0-9_.-]*$[a-zA-Z0-Z_.-]*$" required />            
                                    <label for="password">Password</label>&nbsp; <input type="password" id="password" maxlength="8"  placeholder="Password" pattern="^[a-zA-Z0-9_.-]*$[a-zA-Z0-Z_.-]*$" required />
                                     <button id="loginButton">Submit</button>
                                </form>     
                           </td>
                        </tr>
                    </table>
                </div>
                <div id="feedback">
        </div>
               <!--Sub Header-->
               <span id="subHeader">Media</span>
                  <!-- Intro Text-->
                <br><br>
               <div id="introText" style="width: 80%; padding-left:50px;">
                   It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.
                
                </div>
               
                
                <!-- End Intro Text-->

               

                <div class="main_content_text"> <br/>
                </div>
                
                 
                 
                <div class="main_container">
               
    

                <!--main container-->
                   <!--Row one of main container-->
                <div class="main_container">

                    <div class="photos">
                        <a href="#"><img src="../images/1b2d3515-74d4-496f-80c2-675ce5f46488_1.98948380d457bfad23881d5b815db769.jpeg" width="150" height="161"></a> 
                        <p class="productDescription">Item #100
                        </p>
                        <p class="price">$10.00</p>
                    </div>
                
                    <div class="photos">
                        <a href="#"><img src="../images/410WFCEKOAL._AC_UL130_.jpg" width="150" height="161"></a> 
                        <p class="productDescription">Item #101
                        </p>
                        <p class="price">$10.00</p>
                    </div>
               
                    <div class="photos">
                        <a href="#"><img src="../images/420f5179-9a0f-40c6-a183-b1c519c0d99d_1.31c0eeccb22be7f62250e1a775d410f1.jpeg" width="150" height="161"></a> 
                        <p class="productDescription">Item #102
                        </p>
                        <p class="price">$10.00</p>
                    </div>
                
                </div>
                 <!--Row two of main container-->
                <div class="photos">
                        <a href="#"><img src="../images/5896575b-c9d7-47c2-b399-daa69192e011_1.c8ee48fbedfba9b8411d46cd519b86e8.jpeg" width="150" height="161"></a> 
                        <p class="productDescription">Item #103
                        </p>
                        <p class="price">$10.00</p>
                    </div>
                
                    <div class="photos">
                        <a href="#"><img src="../images/71uhYW5rcQL._AC_UL115_.jpg" width="150" height="161"></a> 
                        <p class="productDescription">Item #104
                        </p>
                        <p class="price">$10.00</p>
                    </div>
               
                    <div class="photos">
                        <a href="#"><img src="../images/images (1).jpg" width="150" height="161"></a> 
                        <p class="productDescription">Item #105
                        </p>
                        <p class="price">$10.00</p>
                    </div>
                
                </div>
 <div class="main_container">
                    <!--footer--> 
             
                    <footer style="clear:both;background-color: none;">
                        <p class="homeFooter">
                            <ul>
                                <li class="homeFooter"><a href="#top">To the Top</a>&nbsp;</li>
                                <li class="homeFooter">&copy; 2019&nbsp;</li>
                                <li class="homeFooter">Zumba With Theresa &nbsp; </li>
                                <li class="homeFooter">Last Updated: 02/20/2019</li>
                            <br>
                            
                            </ul>
                            <ul class="homeFooter">
                            <li class="homeFooter"><a href="#">Support |</a></li>
                            <li class="homeFooter"><a href="#">Terms |</a></li>
                            <li class="homeFooter"><a href="#">Privacy |</a></li>
                            <li class="homeFooter"><a href="#">About |</a></li>
                            <li class="homeFooter"><a href="#">Contact</a></li>

                        </ul>
        
                        </p>
                    </footer>
                
                </div>
   
            </div>
            
<script>
                        const items = document.querySelectorAll('div.photos');
                        /*items.forEach(function(userItem){
                            items[i].addEventListener('mouseenter', function() {
                                console.log(event.target);
                                changeToCoral(event.target);
                                });
                            items[i].addEventListener('mouseleave', function() {
                                backToNormal(event.target);
                            });
                        }                     
                        );*/
                        for(var i=0; i< items.length;i++){
                                items[i].addEventListener('mouseenter', function() {
                                console.log(event.target);
                                console.log(items[i]);
                                changeToCoral(event.target);
                                });
                            items[i].addEventListener('mouseleave', function() {
                                backToNormal(event.target);
                            });
                            }
                            function changeToCoral(eventTarget){eventTarget.style.backgroundColor= '#6e3667';}
                            function backToNormal(eventTarget){ eventTarget.style.backgroundColor= '';}
                    </script>
        </body>
        
    </html>