.main_container {
        width: 300px;
        height: 300px;
        @if 4 < 7 {
            background-color:red;
        
        }
        @if 5 < 9  {
            background-color:green;

        }

        
}