<!DOCTYPE html>
<html>
<head>
    <title>AngularJs $http.post() Service Response Example</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="studentController" ng-cloak>
    <h1>AngularJS $Http Get, Post, Put, Delete functions.....</h1>
    <!--Form-->
    <form name="userForm" ng-submit="createUser()">
    <h4>Create User</h4>
    <div>
    <label>Name:</label>
        <div>
            <input type="text" ng-model="user.name" placeholder="Maria.."  required />
        </div>
    </div>
    <div>
        <label>Email:</label>
        <div>
        <input type="email" ng-model="user.email"  placeholder="maria@perschols.org" required />
        </div>
    </div>
    <div>
        <input type="submit" value="submit" ng-show="submit"
            ng-disabled="userForm.$invalid" />
            <input type="button" value="update" ng-click="updateUser()" ng-show="update" />
            <input type="button" value="cancel" ng-click="cancelUpdate()" ng-show="cancel" />

    </div>
    </form>
    <!--End Form-->
    <!--Users List-->
    <br />
    <h4>User List</h4>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Action Commands</td>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>

                <td>
                    <button ng-click="editUser(user)">Edit</button>
                    <button ng-click="deleteUser(user)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>



    <script>
        var myApp = angular.module('myApp', []); 
        myApp.controller('studentController', function($scope, $http) {
        //Button Setting
            $scope.submit= true;
            $scope.update= false;
            $scope.cancel= false;

            
         //Getting User List
           
        $http.get('https://jsonplaceholder.typicode.com/users')
        .then(function successCallback(response) {
        $scope.users = response.data;
        }, function errorCallback(response) {  alert("Error. Try Again!");
            });
      



        //Create New User
        $scope.createUser = function() {
        //$http POST function
        $http.post('https://jsonplaceholder.typicode.com/users', $scope.user)
        .then( function successCallback(response) {
        $scope.users.push(response.data); 
         alert("User has created Successfully")
        }, function errorCallback(response) {
        alert("Error. while created user Try Again!");
        });
        };
       
        //Update User

        $scope.updateUser = function() {
        //$http POST function
        $http.put('https://jsonplaceholder.typicode.com/users/' +$scope.user.id)
        .then(function successCallback(response) {
             alert("User has updated sucessfully");
        }, function errorCallback(response) {
        alert("Error. while updating user Try Again!");
        });
        };

        //Delete User

        $scope.deleteUser = function() {
        
            
        $http.delete('https://jsonplaceholder.typicode.com/users/' + $scope.user.id).then(
        function successCallback(response) {
             alert("User has deleted sucessfully");
             var index = $scope.users.indexOf(user);
             $scope.users.splice(index, 1);
        }, function errorCallback(response) {
        alert("Error. while deleting user Try Again!");
        });
        };

        //Set Scope on Edit Button Click
            $scope.editUser = function(user){
            $scope.user = user;
            $scope.submit = false;
            $scope.update = true;
            $scope.cancel = true;
            };    

        //Cancel Update
            $scope.cancelUpdate = function(){
            $scope.user = null;
            $scope.submit = true;
            $scope.update = false;
            $scope.cancel = false;    
            };
     });          
        </script>
</body>
</html>


