<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewpert" content="width=device-width, initial-scale=1">
            <title>About</title>
            <link rel="stylesheet"
                  type="text/css" 
                  href="../styles/main.css" >
                 
        </head>
        <body>
        <!-- Main Container-->
            <!-- Main Navigation-->
            <header>
                    <nav>
                        <div class="menu_container">
                       
                            <div class="menu_logo">
                                <img src="../images/universal-orlando-resort-color-logo-b.webp" width=70 height=50 alt="Universal">
                            </div>
                            <div class="menu_item">
                                <ul>
                                    <li>
                                        <a href="../index.html">Home</a>
                                             <div class="dropdown-content">
                                                <a href="#">Link 1</a>
                                                <a href="#">Link 2</a>
                                                <a href="#">Link 3</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                             <div class="dropdown-content">
                                                <a href="#">Link 1</a>
                                                <a href="#">Link 2</a>
                                                <a href="#">Link 3</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                             <div class="dropdown-content">
                                                <a href="#">Link 1</a>
                                                <a href="#">Link 2</a>
                                                <a href="#">Link 3</a>
                                            </div>
                                    </li>
                                </ul>
                                
                            </div>

                        </div>
                        
                    </nav>
             </header>
             <div class="main_wrapper">
              <hr/>
             <!--  Main Content  -->
              <h1>Trip to Universal Studios Florida</h1>
             <div class="main_content_text"> 
                Universl Studios Florida is said descibed as the next-level vacation destination where guests can create epic memories with their friends and family. 
                At the Studio, pop culture’s most compelling stories come to life in some of the world’s most exciting and innovative theme park experiences – and guests are placed right in the heart of powerful stories and adventures. 
                The world-class vacation destination is home to three theme parks, six hotels and Universal CityWalk.
             </div>
             <div id="frame">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xHvnjUn9cDo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
           </div>  
           <!--footer-->       
      
            <footer >
                <p>
                    Universal Trip &copy; 2019 Last Updated: 02/17/2019<br>
                    <a href="#top">Top</a>
                </p>
            </footer>

        </body>
        
    </html>